@-webkit-keyframes twinkling{
  0%{opacity:0;}
  100%{opacity:1;}
}

/* CSS file for index.html */
body {background-color: #fcf9f4;
      width: 100%;
      overflow-x: hidden;}

#nav_bar {background-color: #1a1a1a;
          color: white;
          font-size: 20px;
          height: 90px;
          width: 100%;}
#nav_bar ul {list-style-type: none;
             padding: 0;
             margin: 0;}
#nav_bar li:first-child {padding-top: 20px;
                         padding-left: 100px;
                         margin-right: 100px;}
#nav_bar li {display: inline;
             float: left;
             padding-top: 30px;
             padding-right: 0px;
             padding-left: 300px;}
#nav_bar li:last-child span {border: 1px solid white;
                             border-radius: 4px;
                             padding: 5px 15px;
                             font-size: 20px;}
#nav_bar li:last-child span:hover{
  background-color: white;
  color: #1a1a1a;
}

#nav_bar li:last-child a{
  color: white;
  text-decoration: none;
}
#nav_bar li:last-child a:hover{
  color: #1a1a1a;
}

#dot {height: 15px;
       width: 15px;
       background-color: #abce9a;
       border-radius: 50%;
       position: absolute;
       top: 39px;
       left: 520px;
       -webkit-animation: twinkling 1s infinite ease-in-out;}

#home img{border-radius: 6px;}

#home img:hover{border: 2px solid white;}

.instruction {background-color: rgba(0,0,0,0.1);
              color: white;
              padding: 70px 100px 10px 100px;}
h1.hello {color: #1a1a1a}
p {font-size: 20px;
   padding: 50px 0px;
   color: #4d4d4d;
   line-height: 30px;}

#text-left {height:250px;
            width: 200px;
            float: left;
            border-right: 1px solid white;
            font-size: 20px;
            text-align: center;
            padding-top: 110px;
            background-color: black;
            color: white;}
textarea {
  background-color:black;
  color: white;
  height: 250px;
  font-size: 16px;
  font-family: monospace;
  width: 84%;
  margin: 0px;
  border: none;
  overflow-y: scroll;
  resize: none;
  outline: none;
  padding-left: 10px;
}

#draw-field {
  width: 99%;
  margin: 10px 5px; 
}
